.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;  
}

.custom-file-input {
  width: 50%;
  min-height: 300px;
  background-color: beige;
  border-radius: 10px;
  border: 1px solid grey;
  color: transparent;
  cursor: pointer;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Click to select';
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-top: 125px;
  color: black;
  border: none;
  font-weight: 500;
  font-size: 20px;
}
.custom-file-input:hover::before {
  border-color: black;
}

.ImageRow-container {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

.image-box {
  position: relative;
  border: 1px solid black;
}

.btn-close {
  border: 1px solid black;
  border-radius: 15px;
  position: absolute;
  right: -13px;
  top: -13px;
  background-color: white;
}